body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .calculator {
    width: 100%;
    max-width: 400px;
    background-color: #000;
    border: 5px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .top-display {
    margin-bottom: 10px;
  }
  
  .top-display input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #000;
    border: none;
    text-align: right;
    padding-right: 10px;
  }
  
  .display {
    margin-bottom: 20px;
  }
  
  #display {
    width: 100%;
    height: 60px;
    font-size: 36px;
    color: #fff;
    background-color: #000;
    border: none;
    text-align: right;
    padding-right: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .btn {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 30px; /* Rounded buttons */
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn.zero {
    grid-column: span 2;
    border-radius: 30px; /* Rounded button */
  }
  
  .function {
    background-color: #a5a5a5;
    color: #000;
  }
  
  .operator {
    background-color: #f09a36;
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  @media (max-width: 600px) {
    .calculator {
      height: calc(100vh - 65%);
      border: none;
      border-radius: 0;
    }
  
    .display {
      margin-bottom: 10px;
    }
  
    #display {
      height: 60px;
      font-size: 36px;
    }
  
    .buttons {
      grid-gap: 5px;
    }
  
    .btn {
      height: 50px;
      font-size: 24px;
      border-radius: 25px;
      margin-bottom: 15px;
    }
  
    .btn.zero {
      border-radius: 25px;
    }

    body {
        background-color: #000;
    }
  }
  
  